* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: rgb(234, 240, 250);
}

h1{
  font-size: 22pt;
  color: white;
  background-color: transparent;
}

.adminDiv{
  right: 1.67%; 
  position: absolute;
  margin-top: 5px;
  font-size: 16pt;
  background-color: rgb(212, 208, 208);
  color: black;
}

.roomHeader{
  display: flex; 
  width: 100%;
  background-color: rgb(29, 141, 176);
  color: white;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: fixed;
  z-index: 1;
}

.chooseRoom{
  margin-left: 2%;
  font-size: 16pt;
  padding: 15px;
  padding-top: 5%;
}

.roomDiv{
  display: block;   
}

.roomButton{
    height: 75%; 
    width: 90%; 
    background-color: rgb(30, 157, 211);
    font-size: 16pt;
    color: white;
    opacity: 80%;
}

.roomButtonDiv{
    height: 200px; 
    width: 20%; 
    display:inline-block;
    margin-right: 1.6%;
    margin-left: 3.2%;
    padding-bottom: 30px;
}

.addButton{
  display:none;
  height: 75%; 
  width: 90%; 
  color: rgb(102, 100, 100);
  font-size: 14pt;
  background-color: rgb(212, 208, 208);
}

.delStatButton{
  display:none;
}

.delStat{
  font-size: 14pt;
  background-color: rgb(212, 208, 208);
  color: rgb(102, 100, 100);
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
 /* The Modal (background) */
 .popUp {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* pop-up Content/Box */
  .popUpSquare {
    display: flexbox;
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    padding-bottom: 10px;
    border: 2px solid #888;
    width:max-content;
  }

  .popUpContent{
    display: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: black;
  }

  .popUpText{
    font-size: 14pt;
    background-color: transparent;
    color: black;
  }

  .popUpButton{
    font-size: 14pt;
    background-color: rgb(212, 208, 208);
    color: black;
  }

  label{
      font-size: 12pt;
      color: rgb(104, 102, 102);
  }

  input{
      font-size: 13pt;
      margin-bottom: 8px;
  }

  .errorMessage{
      font-size: 8pt;
      color: red;
      display: none;
      background-color: transparent;
      padding-top: 5px;
      padding-bottom: 7px;
  }
  