* {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    background-color: rgb(234, 240, 250);
}

h1{
    font-size: 22pt;
    color: white;
    background-color: transparent;
}

.upBackDiv{
    right: 1.67%; 
    position: absolute;
    margin-top: 5px;
    background-color: transparent;
    z-index: 1;
    display: inline-block;
}

.upBackButton{
    background-color:  rgb(212, 208, 208);
    font-size: 16pt;
    padding-left: 5px;
    padding-right: 5px;
}

.roomHeader{
    display: flex; 
    width: 100%;
    background-color: rgb(29, 141, 176);
    color: white;
    align-items: center;
    justify-content: center;
    padding: 8px;
    position: fixed;
    z-index: 1;
}

.chartsFigure{
    display: block; 
    width: 100%;
}

.charts{
    width: 40%; 
    display: inline-block; 
    padding: 4.5%;
}

.individualScores{
    text-align: center;
}

.individualScores h2{
    margin-top: 3%;
    margin-bottom: 1%;
}

.settings{
    display: flex;
    justify-content: center;
    margin: 1%;
    padding: 10px;
}

.settings label{
    padding-left: 1%;
    padding-right: 1%;
    font-size: 15pt;
}

.settings input{
    margin-right: 4px;
}

.difficulty{
    background-color: white;
    font-size: 15pt;
}

.tableDiv{
   display: flex;
   justify-content: center;
}

.tableDiv button{
    background-color: rgb(212, 208, 208);
    font-size: 15pt;
    height: max-content;
    margin: 5px;
}

.resultTable{
    text-align: center;
    margin: 5px;
    border: 2px solid rgb(20, 20, 20);
    border-collapse: collapse;
    background-color: rgb(31, 171, 231);
    font-size: 11pt;
    margin-bottom: 100px;
    margin-left: 2%;
    margin-right: 2%;
  }
  
.resultTable th {
    font-size: 14pt;
    background-color: rgb(29, 141, 176);
    border: 2px solid rgb(20, 20, 20);
    padding: 5px;
    color: white;
}

.resultTable td {
    font-size: 11pt;
    background-color: rgb(31, 171, 231);
    border: 2px solid rgb(20, 20, 20);
    padding: 5px;
}